*.swp
*.swo
cmake-build-debug/
linux-build/
build_web/
3dmath/tests/testBin/
build*
asan_build*
cmake-build*
linux_build*
artifacts*
deployment*
*.DS_Store
ui/textures/originals/
venv
octave-workspace
Testing/*
__pycache__*
